    
  .modal {
    position: fixed;
    z-index: 1;

    /*background-color: rgba(0, 0, 0, 0.25);*/
  }
  
  .modal_content {
    background-color: white;
    position: fixed;
    height: 500px;
    top: 10%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .close-popup {
    border: none;
    /*display: inline-block;*/
    padding: 8px 16px;
    color : #0F0C5A;
    cursor: pointer;
    float: right
  }
  .topright {
    position: absolute;
    right: 0;
    top: -3%;
  }

  .header-popup {
  
    position: relative;
    color: gray;
    margin-right: 20px;
    border-bottom: 1px solid;
    line-height: 0.1;
    float: left;
  }
  .topleft {
    position: absolute;
    left: 0;
    top: 0
  }

  .body-popup {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    height: 400px;
  }
  .left {
    position: absolute;
    left: 0;
  }

  .body-style {
    float: left;
    position: relative;
    color: gray;
    left: -2%;
    top: -6%;
    text-align: left;
  }

  .Button-secondary {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    /*background-color: #0F0C5A;*/
    color: #0F0C5A;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
}

  .button-cargar {
    border-radius: 5px;
    background-color: white;
    outline: none;
  }
  
  button:hover {
    background-color: white;
  }
